.header {
    padding: 0.6rem;
} 
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    min-height: 40px;
    width: 80%;
    margin: 0 auto;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    margin-left: 2%;
    text-decoration: none;
    color: inherit;
}
.button {
    cursor: pointer;
    border-radius: 50%;
    background: none;
    border: none;
}
.link {
    text-decoration: none;
    color: inherit;
    margin: 0 15px;
    font-size: 20px;
    padding-top: 20px;
}
.Cart{
    padding-right: 10px;
    font-size: 15px;
}
.navLinks{
    padding-top: 10px;
}

/* Light Side */
.btnLight{
    color: #f0f0f0;
}
.headerLight {
    background-color: #333;
    color: #f0f0f0;
}
.logoL{
    color: #f0f0f0;
}

/* Dark Side */
.headerDark {
    background-color: #333;
    color: #f0f0f0;
}
.btnDark{
    color: #f0f0f0;
}
.logoD{
    color: #f0f0f0;
}