.page {
    display: grid;
    width: 900px;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr;
    height: 80vh;
  }

.top_seller{
    height: 25vh;
}

.new_arrive{
    height: 25vh;
    margin-bottom: 5rem;
}

/* Light Side */
.light {
    background-color: #f0f0f0;
    color: #333;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

/* Dark Side */
.dark {
    background-color: #333;
    color: #f0f0f0;
    border-left: 3px solid white;
    border-right: 3px solid white;
}