.page {
    display: grid;
    width: 900px;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr;
    height: 80vh;
  }

.top_seller{
    height: 40vh;
    background-color: #272626;
    margin-top: 1.5rem;;
}

.ts_h1{
    text-align: left;
    margin-left: 3rem;
}

.new_arrive{
    height: 40vh;
    margin-bottom: 5rem;
}

.na_h1{
    text-align: left;
    margin-left: 3rem;
}

/* Light Side */
.light {
    background-color: #f0f0f0;
    color: #333;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

/* Dark Side */
.dark {
    background-color: #272626;
    color: #f0f0f0;
}