.header{
    background-color: rgb(81, 129, 198)/*orange*/;
    padding: 5px;
}

.nav {
    display: flex;
    justify-content: center; /* Center the nav items */
    align-items: center;
    min-height: 40px;
}

.navLinks {
    align-items: center;
    width: 70%;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 12px 80px; /* Increased padding to create space between links */
    font-size: 22px; /* Increase link size */
    background-color: inherit; /* Make link background same as nav */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    font-weight: bold;
}

/* Light Side */
.headerLight {
    color: #333;
}

.linkW:hover {
    background-color: #d14b4b;
    color: #f0f0f0;
}

/* Dark Side */
.headerDark {
    color: #f0f0f0;
}

.linkD:hover {
    background-color: #d14b4b;
    color: #f0f0f0;
}
