.product_card {
    border-left: 1px solid #dcd6d6;
    border-right: 1px solid #dcd6d6;
    padding: 16px;
    text-align: center;
    background-color: #272626;
    transition: background-color 0.3s ease;
    height: 27vh;
    margin-left: 0rem;
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  .product_image {
    width: 80%;
    height: auto;
    border-radius: 8px;
  }
  
  .product_title {
    font-size: 18px;
    margin: 2px 0;
  }
  
  .product_description {
    font-size: 14px;
    color: #666;
  }
  
  .product_card:hover {
    background-color: #333;
  }
  