.page {
    display: grid;
    width: 300px;
    margin: 0 auto;
    gap: 1rem;
    align-items: start; /* Align items to the top */
    grid-template-columns: 1fr;
    height: 80vh;
}

/* Light Side */
.light {
    background-color: #f0f0f0;
    color: #333;
}

/* Dark Side */
.dark {
    background-color: #333;
    color: #f0f0f0;
}

/* Menu List */
.menuList {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.menuItem {
    padding: 0.8rem 1rem;
    cursor: pointer;
    position: relative;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in width calculation */
    background-color: inherit; /* Ensure background color matches */
}

.menuItem:hover {
    background-color: #323131;
    color: rgb(81, 129, 198);
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    background-color: inherit;
    list-style-type: none;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%; /* Match the width of the parent menu item */
}

.submenuItem {
    padding: 0.8rem 1rem; /* Match padding to menuItem */
    box-sizing: border-box; /* Include padding in width calculation */
}

.submenuItem:hover {
    background-color: #d14b4bb1;
    color: #f0f0f0;
}
